@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #080;
  --color-secondary: #333;
  --color-tertiary: #444;
  --color-quaternary: #555;
  --color-dim-white: rgb(208, 208, 208);
  --color-dark: rgb(32, 32, 32);
}

body {
    background-color: var(--color-dark);
}

@layer utilities {
    .bg-primary {
        background: var(--color-primary);
    }

    .bg-secondary {
        background: var(--color-secondary);
    }

    .bg-tertiary {
        background: var(--color-tertiary);
    }

    .bg-quaternary {
        background: var(--color-quaternary);
    }

    .bg-dark {
        background: var(--color-dark);
    }

    .border-primary {
        border-color: var(--color-primary);
    }

    .border-secondary {
        border-color: var(--color-secondary);
    }

    .border-tertiary {
        border-color: var(--color-tertiary);
    }

    .border-quaternary {
        border-color: var(--color-quaternary);
    }

    .text-primary {
        color: var(--color-primary);
    }

    .text-secondary {
        color: var(--color-secondary);
    }

    .text-tertiary {
        color: var(--color-tertiary);
    }

    .text-quaternary {
        color: var(--color-quaternary);
    }

    .text-dim-white {
        color: var(--color-dim-white)
    }
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scrollbar-color: var(--color-secondary);
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
}